body {
    margin: 0;
    background: #222;
    text-align: center;
  }
  
  #game {
    position: relative;
    width: 1000px;
    margin: 30px auto;
  }
  
  #room {
    width: 100%;
    display: block;
  }
  
  .spot {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid red;
    cursor: pointer;
  }
  
  .clock {
    left: 255px;
    top: 65px;
    width: 95px;
    height: 95px;
  }
  
  .pc {
    left: 425px;
    top: 240px;
    width: 170px;
    height: 120px;
  }
  
  .box {
    left: 5px;
    top: 550px;
    width: 120px;
    height: 110px;
  }

  .syodana{
    left: 150px;
    top: 160px;
    width: 220px;
    height: 320px;
  }

  .door{
    left: 750px;
    top: 100px;
    width: 170px;
    height: 360px;
  }

  .hidden {
    display: none !important;
  }

#modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

#modal.hidden {
    display: none;
}

#modalBox {
    position: relative;
}

#modalImage {
    max-width: 90vw;
    max-height: 90vh;
}

#closeBtn {
    position: absolute;
    top: -15px;
    right: -15px;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: 50%;

    cursor: pointer;
    font-size: 22px;
}

#startScreen {
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#startScreen::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image: url("images/title.png");
  background-size: 100%;
  background-position: center 30%;

  opacity: 0.15;   /* ←ここで薄さを調整 */

  z-index: 0;
}

#startScreen h1,
.subtitle,
.description,
#startScreen button {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  margin-bottom: 0px;
}

.subtitle {
  animation-delay: 0.5s;
  margin-top: 10px;
  margin-bottom: 70px;
}

.description {
  animation-delay: 1s;
}

#startScreen button {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  display: none;
}

.subtitle {
  font-size: 22px;
  color: #bbb;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 70px;
}

#version {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #888;
}

.pressStart {
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0.2;
  }
}

#storyScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
}

#characterImage {
  position: absolute;
  left: 40px;
  bottom: 160px;

  height: 85%;
  max-height: 700px;

  pointer-events: none;

  /* 少し影を付けると立体感が出る */
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.7));
}

#storyWindow {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);

  width: 90%;
  height: 180px;

  background: rgba(0,0,0,0.85);
  border: 3px solid white;
  border-radius: 8px;

  padding: 25px;
  box-sizing: border-box;
}

.talking {
  filter: brightness(100%)
          drop-shadow(0 0 20px rgba(0,0,0,.7));
}

.waiting {
  filter: brightness(40%);
}

.hidden {
  display: none !important;
}

#storyScreen:not(.hidden) {
  display: block;
}

#speakerName {
  position: absolute;
  top: -45px;
  left: 20px;

  padding: 8px 24px;
  background: #111;
  border: 3px solid white;
  color: white;

  font-size: 20px;
}

#storyMessage {
  color: white;
  font-size: 24px;
  line-height: 1.8;
  text-align: left;
}

#nextStoryBtn {
  position: absolute;
  right: 20px;
  bottom: 15px;

  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.character {
  position: absolute;
  bottom: 160px;
  height: 85%;
  max-height: 700px;
  pointer-events: none;
  transition: 0.3s;
  filter: brightness(45%) drop-shadow(0 0 20px rgba(0,0,0,.7));
}

.leftCharacter {
  left: 40px;
}

.rightCharacter {
  right: 40px;
}

.character.talking {
  filter: brightness(100%) drop-shadow(0 0 20px rgba(0,0,0,.7));
}